.promocao .container1{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.promocao .container1 .box1{
    background: var(--bg-color-1);
    flex: 1 1 30rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 7px 7px 13px 0 rgba(50,50, 50, 0.22);
}
.promocao .container1 .box1 img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}
 
.promocao .container1 .box1 .content1{
    padding: .5rem;
}

.promocao .container1 .box1 .content1 h4{
    font-size: 2rem;
    color: var(--text-color-1);
}

.promocao .container1 .box1 .content1 p{
    font-size: 1.7rem;
    color: var(--text-color-1);
    padding: 1rem 0;
}

.promocao .container1 .box1 .content1 .preco{
    font-size: 2rem;
    color: var(--text-color-1);
    padding-top: 1rem;
}

.promocao .container1 .box1 .content1 span{
    font-size: 1.5rem;
    text-decoration: line-through;
    color: var(--text-color-2);
    padding-top: 1rem;
}

section{
    padding: 2rem 7%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    color: white;
    background: var(--purple);
    border-radius: .5rem;
}

.btn:hover{
    cursor: pointer;
    color: var(--text-color-2);
}

.container1{
    overflow-y: hidden;
    width: 100%;
    display: flex;
}